.category-group-cinema--mobile {
    border-radius: 4px;
    overflow: hidden;
    // @include mediaQueryMin("medium") {
    //   display: none;
    // }
    .group-cinema--mobile {
      margin: 0;
      .group-cinema-name {
        margin-left: 15px;
        font-weight: bold;
      }
    }
    .cinema {
      display: -webkit-box;
      display: flex;
      -webkit-box-align: center;
      align-items: center;
      .cinema__logo {
        padding-right: 15px;
        img {
          width: 50px;
        }
      }
      .cinema__info {
        text-transform: none;
        font-size: 3px;
        position: relative;
        .cinema__address {
          display: -webkit-box;
          -webkit-line-clamp: 1;
          -webkit-box-orient: vertical;
          overflow: hidden;
          text-overflow: ellipsis;
          font-size: 13px;
          color: #949494;
          text-transform: none;
        }
        .cinema__detail {
          color: orange;
          font-size: 1px;
        }
        .cinema__name {
          display: -webkit-box;
          -webkit-line-clamp: 1;
          -webkit-box-orient: vertical;
          overflow: hidden;
          text-overflow: ellipsis;
          color: black;
          font-size: 15px;
          font-weight: 500;
          .group-cinema__name {
            color: green;
          }
        }
      }
    }
  }
  